:root {
    --textDarkBlue: hsl(238, 29%, 16%);
    --textSoftRed: hsl(14, 88%, 65%);

    --textGray: hsl(237, 12%, 33%);
    --textLightGray: hsl(240, 6%, 50%);

    --gradientViolet: hsl(273, 75%, 66%);
    --gradientBlue: hsl(240, 73%, 65%);

    --dividerGray: hsl(240, 5%, 91%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 20px;

    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background-image: linear-gradient(var(--gradientViolet), var(--gradientBlue));
}

main {
    background-color: white;
    border-radius: 20px;
    padding: 15px 25px;

    max-width: 325px;
    margin: auto;
}

.div-img {
    background-image: url(../images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: left 20px top -10px;
}

picture img {
    width: 85%; /*80% = 260px;*/
    display: block;
    margin: auto;
    position: relative;
    top: -120px;
}

h1 {
    text-align: center;
    font-size: 2.6em;
    font-weight: 700;
    position: relative;
    top: -55px;
}

ul {
    list-style-type: none;
    margin-top: -45px;
}

li {
    margin: 20px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--dividerGray);
}

summary {
    list-style: none;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 400;
    color: var(--textGray);
}

summary:hover {
    color: var(--textSoftRed);
}

.question {
    display: inline-block;
    width: 95%;
}

p {
    overflow: hidden;
    height: 0vh;
    color: var(--textLightGray);
    width: 90%;
}

details[open] summary {
    font-weight: bold;
}

details[open] p {
    height: auto;
    margin-top: 15px;
}

details[open] img {
    /*-webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);*/
    transform: rotate(180deg);
}

@media screen and (min-width: 600px) {
    body {
        padding: 0;

        display: flex;
        justify-content: center;
        align-content: center;
    }

    main {
        min-width: 800px;
        display: inherit;
    }

    .div-img {
        background-image: url(../images/bg-pattern-desktop.svg);
        background-position: right 0px bottom 0px;
    }

    picture img {
        margin: auto;
        position: static;
    }

    .div-text {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        min-width: 50%;
        padding-left: 10px;
    }

    h1 {
        text-align: left;
        font-size: 2.6em;
        font-weight: 700;
        position: static;
        
    }

    ul {
        margin-top: 0px;
    }

}

